// Style is just for testing autoprefix and compile into CSS

$navy: #DDD;
$grey: #4e4e4e;

html {
  background-color: $navy;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: url('../assets/spiration-light.png');
}

h1 {
  color: $grey;
  font-weight: bold;
  font-size: 3.5rem;
  transform: translateX(10px);
  animation: rotate 1s infinite linear alternate;
}

@keyframes rotate {
  100% {
    transform: rotate(10deg);
  }
}